[Desktop Entry]
Name=FunctionPlot
Comment=An intelligent mathematical function plotter
Exec=functionplot
Icon=document-page-setup
Terminal=false
Type=Application
Categories=Application;Education;
Encoding=UTF-8
